<app-header></app-header>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h3>Total Packages</h3><br>
        </div>
        <!-- Basic Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Package Details
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="text-align:center">PACKAGE NAME</th>
                                    <th style="text-align:center">NO. OF TIMES PACKAGE PURCHASED</th>
                                    <th style="text-align:center">PACKAGE PRICE</th>
                                    <th style="text-align:center">TOTAL PRICE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of packages">
                                    <td style="text-align:center">{{ row.name }}</td>
                                    <td style="text-align:center">{{ row.count }}</td>
                                    <td style="text-align:center">{{ row.amount }}</td>
                                    <td style="text-align:center">{{ row.count * row.amount }}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align:center;"><b>TOTAL INCOME :</b></td>
                                    <td style="text-align:center">{{ totalamt }}</td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
