<div class="login-page" style="background-color: blueviolet;">
  <div class="login-box">
    <div class="logo">
      <a href="/" class="hvr-float-shadow">
        Atlantix
        <b>Solutions</b>
      </a>
      <small style="margin-top: 15px; font-size: 16px;"></small>
    </div>
    <form #adminForm="ngForm" (ngSubmit)="onSubmit(adminForm.value)">
      <div class="card">
        <div class="body">
          <div class="msg" style="font-size: 22px; font-weight: 600;">
            Sign-In
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">
                person
                <sup style="color: red;">*</sup>
              </i>
            </span>
            <div class="form-line">
              <input
                type="text"
                class="form-control"
                name="usermobileno"
                placeholder="Mobile Number"
                ngModel
                #mobile="ngModel"
                pattern="[0-9]*"
                maxlength="10"
                minlength="10"
                required
                autofocus
              />
            </div>
            <span
              *ngIf="mobile.invalid && mobile.touched && mobile.value"
              style="color: red; font-size: 2; text-align: center;"
            >
              Entered Mobile Number Is Invalid</span
            >
            <span
              *ngIf="!mobile.value && mobile.touched"
              style="color: red; font-size: 2; text-align: center;"
              >Mobile Number Field Is Required</span
            >
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">
                lock
                <sup style="color: red;">*</sup>
              </i>
            </span>
            <div class="form-line">
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                class="form-control"
                name="password"
                placeholder="***********"
                style="width: 90%;"
                required
                name="password"
                minlength="8"
                ngModel
                #password="ngModel"
              />
              <div
                style="margin-top: -2px; margin-left: 200px; cursor: pointer;"
              >
                <mat-icon matSuffix (click)="hide = !hide">{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </div>
            </div>

            <span
              *ngIf="password.invalid && password.touched && password.value"
              style="color: red; font-size: 2; text-align: center;"
            >
              Entered Password Is Invalid</span
            >
            <span
              *ngIf="!password.value && password.touched"
              style="color: red; font-size: 2; text-align: center;"
              >Password Field Is Required</span
            >
          </div>
          <p style="color: red; text-align: center;">{{ err }}</p>
          <div class="row">
            <div class="col-xs-8 p-t-5">
              <input
                type="checkbox"
                name="rememberme"
                id="rememberme"
                value="yes"
                ng-model="remember"
                class="filled-in chk-col-pink"
              />
              <label for="rememberme">Remember Me</label>
            </div>
            <div class="col-xs-4">
              <button
                class="btn btn-block bg-pink waves-effect hvr-underline-from-center"
                type="submit"
                [disabled]="adminForm.invalid"
              >
                SIGN IN
              </button>
            </div>
          </div>
          <div class="row m-t-15 m-b--20">
            <div class="col-xs-6"></div>
            <div class="col-xs-6 align-right">
              <a href="/forgotpwd" class="hvr-push" style="color: brown;"
                >Forgot Password?</a
              >
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
