<app-header></app-header>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h3>Total Packages</h3><br>
        </div>
        <!-- Basic Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Package Details
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="text-align:center">SERVICE-CATEGORY NAME</th>
                                    <th style="text-align:center">SERVICE NAME</th>
                                    <th  style="text-align:center">STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of arr">
                                    <td style="text-align:center">{{ row.sc_name }}</td>
                                    <td style="text-align:center">{{ row.s_name }}</td>
                                    <td style="text-align:center">
                                    <div *ngFor="let element of details">
                                      <div *ngIf="row.s_name==element.s_name">
                                        <div *ngIf="element.om_status==0">
                                          <span class="label label-success">Completed</span>
                       
                                          </div>
                       
                                          <div *ngIf="element.om_status==2">
                                             <span class="label label-warning">Failed</span>
                                             </div>

                                             <div *ngIf="element.om_status==1">
                                                <span class="label label-danger">Pending</span>
                                                </div>
                       
                                                
                                             <div *ngIf="element.om_status!=0 && element.om_status!=1 && element.om_status!=2">
                                                <span class="label label-danger">-</span>
                                                </div>
                                    </div>
                       
                       
                       
                                    </div>
                                    <div *ngFor="let sitem of sarr">

                                        <div *ngIf="row.s_name==sitem.s_name">
                                     <label>__</label>
                                        </div>
                                       </div>
                       
                                  </td>     
                       
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
