<app-header></app-header>
<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      EMPLOYEE DETAILS&nbsp;&nbsp;
      <button
        type="button"
        class="btn bg-indigo waves-effect"
        (click)="addEmp()"
      >
        Add New Employee</button
      >&nbsp;&nbsp;
    </div>
    <!-- Basic Table -->
    <div class="row-clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Search...."
            #input
          />
        </mat-form-field>

        <div class="mat-elevation-z8" style="background-color:white;">
          <table mat-table [dataSource]="dataSource" matSort>
            
            <!-- ID Column -->
            <ng-container matColumnDef="e_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
              <td mat-cell *matCellDef="let row">{{ row.e_name }}</td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="e_mobile">
              <th mat-header-cell *matHeaderCellDef>MOBILE NO.</th>
              <td mat-cell *matCellDef="let row">{{ row.e_mobile }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="e_workingstatus">
              <th mat-header-cell *matHeaderCellDef>WORKING-STATUS</th>
              <td mat-cell *matCellDef="let row">
                <span
                  class="label label-success"
                  *ngIf="row.e_workingstatus == 0"
                  >Available</span
                ><span
                  class="label label-warning"
                  *ngIf="row.e_workingstatus == 1"
                  >Unavailable</span
                >
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                ACTION
              </th>
              <td mat-cell *matCellDef="let row">
                <div>
                  <button
                    type="button"
                    class="btn bg-cyan waves-effect"
                    (click)="goTo(row)"
                  >
                    View Details</button
                  >&nbsp;&nbsp;
                  <button
                    type="button"
                    class="btn bg-red waves-effect"
                    (click)="getDetails(row)"
                    data-toggle="modal"
                data-target="#deleteModal"
                  >
                    Remove
                  </button>
                </div>
              </td>
            </ng-container>
            <!-- Color Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>

          <br>        
          <h1><p style="color : red; text-align: center; font-size:30px; background-color: white;">{{ err }}</p></h1>
          <br>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="defaultModalLabel">
              Confirmation Message
            </h4>
          </div>
          <div class="modal-body">
            Are you sure you want to remove this employee ?
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-success waves-effect"
              (click)="deleteEmp()"
            >
              Yes
            </button>
            <button
              type="button"
              class="btn btn-danger waves-effect"
              data-dismiss="modal"
            >
              No
            </button>
          </div>
        </div>
      </div>
      
    </div>

    <!-- #END# Basic Table -->
  </div>
</section>
