<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Template</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="../../../assets/images/construction-3042638_1920.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <!-- <img src="../../../assets/images/logo.svg" alt="logo" class="logo"> -->
                <h1 style="color:#f4770d;font-family: serif"><b>ATLANTIX SOLUTIONS</b></h1>
              </div>
              <p class="login-card-description">Forget Password </p>
                <h4 style="color: #c3c2c2">Enter your registered mobile number and we'll send you a random password so that you can logged in.</h4>
              <br>
              <form action="#!">
                  <div class="form-group">
                    <label for="phone" class="sr-only">Registered phone no</label>
                    <input type="text" pattern="^[0-9]*$" maxlength="10" minlength="10" required  #mob="ngModel" [(ngModel)]="p_mobile"  name="phone" id="phone" class="form-control" placeholder="Enter Your Registered Phone Number">
                    <div *ngIf="mob.invalid || mob.touched" >
                      <div *ngIf="mob.errors?.minlength"  class="text-danger">
                        <font size=2>*Mobile number should be of 10 digits</font>
                          </div>
                          <div *ngIf="mob.errors?.pattern"  class="text-danger">
                            <font size=2>*It should be numbers only</font>
                              </div>

                         </div>
                          <div [hidden]="mob.valid || mob.untouched">
                          <div [hidden]="!mob.errors?.required"  class="text-danger">
                                <font size=2>*Mobile number is must</font>
                              </div>
                             </div>
                             <div *ngIf="registerflag" class="text-danger">
                              <font size=2>*Mobile number is already Registered</font>
                            </div>
                        
                  </div>
                 <br>
                  <input  (click)="onbutton()" name="login" id="login" class="btn btn-block login-btn mb-4" type="button" value="Submit">
                </form>


            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
