<!-- LOADER -->
<!-- end loader -->
<!-- END LOADER -->

<app-header></app-header>
<div class="banner-area banner-bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="banner">
          <h2>Contact Us</h2>
          <ul class="page-title-link">
            <!-- <li><a href="#">Home</a></li>
                        <li><a href="#">Pricing</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="section wb">
  <div class="container">
    <div class="section-title text-center">
      <h3>Get in touch</h3>
      <p class="lead">
        Our Mission is to empower millions of service professionals by
        delivering services at-home in a way that has never been experienced in
        past
      </p>
    </div>
    <!-- end title -->

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="contact_form">
          <div id="message"></div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.102874429061!2d72.83158271493461!3d21.148303885933743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be051deaaa64827%3A0x262f968acee409b0!2sShiv%20vision!5e0!3m2!1sen!2sin!4v1585742557256!5m2!1sen!2sin"
            height="450"
            frameborder="0"
            style="border: 0; width: 100%;"
            allowfullscreen
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-md-offset-1 col-sm-10 col-md-10 col-sm-offset-1 pd-add">
        <div class="address-item">
          <div class="address-icon">
            <i class="icon icon-location2"></i>
          </div>
          <h3>Headquarters</h3>
          <p>Ahmedabad <br />Opening Hours : 8:30 to 17:30</p>
        </div>
        <div class="address-item" style="height: 180px;">
          <div class="address-icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <h3>Email Us</h3>
          <p>Solutions.atlantix@gmail.com</p>
        </div>
        <div class="address-item" style="height: 180px;">
          <div class="address-icon">
            <i class="icon icon-headphones"></i>
          </div>
          <h3>Call Us</h3>
          <p>+91 9429042300</p>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->
<app-footer></app-footer>
