<div class="theme-red">
  <!-- Page Loader -->

  <!-- #END# Page Loader -->
  <!-- Overlay For Sidebars -->
  <div class="overlay"></div>
  <!-- #END# Overlay For Sidebars -->
  <!-- Search Bar -->

  <!-- #END# Search Bar -->
  <!-- Top Bar -->
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a
          href="javascript:void(0);"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-collapse"
          aria-expanded="false"
        ></a>
        <a href="javascript:void(0);" class="bars"></a>
        <a class="navbar-brand" href="dashboard">ATLANTIX SOLUTIONS</a>
      </div>
    </div>
  </nav>
  <!-- #Top Bar -->
  <section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
      <!-- User Info -->
      <div class="user-info">
        <div class="image"></div>
        <div class="info-container">
          <div
            class="name"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ adminName }}
          </div>
          <div class="btn-group user-helper-dropdown">
            <i
              class="material-icons"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
              >keyboard_arrow_down</i
            >
            <ul class="dropdown-menu pull-right">
              <li>
                <a href="javascript:void(0);"
                  ><button (click)="signOut()">
                    <i class="material-icons">input</i>Sign Out
                  </button></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- #User Info -->
      <!-- Menu -->
      <div class="menu">
        <ul class="list">
          <li class="header">MAIN NAVIGATION</li>
          <li>
            <a href="/dashboard">
              <i class="material-icons">home</i>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/dashboard/profile">
              <i class="material-icons">account_circle</i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href="/dashboard/manageUsers">
              <i class="material-icons">face</i>
              <span>Manage Users</span>
            </a>
          </li>
          <li>
            <a href="/dashboard/manageEmployees">
              <i class="material-icons">face</i>
              <span>Manage Employees</span>
            </a>
          </li>
          <li>
            <a href="/dashboard/managePackages">
              <i class="material-icons">storage</i>
              <span>Manage Packages</span>
            </a>
          </li>
          <li>
            <a href="/dashboard/manageServices">
              <i class="material-icons">folder</i>
              <span>Manage Services</span>
            </a>
          </li>
          <li>
            <a href="/dashboard/viewHistory">
              <i class="material-icons">view_compact</i>
              <span>View History</span>
            </a>
          </li>
          <li>
            <a href="/dashboard/feedback">
              <i class="material-icons">supervisor_account</i>
              <span>View Feedback</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- #Menu -->
      <!-- Footer -->
      <div class="legal">
        <div class="copyright">
          <a href="javascript:void(0);">Atlantix Solutions</a>.
        </div>
        <div class="version"><b>Version: </b> 1.0.0</div>
      </div>
      <!-- #Footer -->
    </aside>
  </section>
</div>
