<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="widget clearfix">
          <div class="widget-title">
            <!-- <img src="../../../assets/images/logos/logo-2.png" alt="" /> -->
            <h1 style="color: #f4770d; font-family: serif;">
              <b>ATLANTIX SOLUTIONS</b>
            </h1>
          </div>
          <p>
            ATLANTIX SOLUTIONS brings together a host of services under one
            roof.The platform has enlisted professionals for every service.
          </p>
          <p>
            We are providing a wide range of services like Home cleaning
            Service,Plumbing,Ac repairing,sanitization etc.
          </p>
        </div>
        <!-- end clearfix -->
      </div>
      <!-- end col -->

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="widget clearfix">
          <div class="widget-title">
            <h3>Pages</h3>
          </div>

          <ul class="footer-links hov">
            <li>
              <a href="/">Home <span class="icon icon-arrow-right2"></span></a>
            </li>
            <li *ngIf="!flag">
              <a href="/services"
                >Our services<span class="icon icon-arrow-right2"></span
              ></a>
            </li>
            <li *ngIf="!flag">
              <a href="/package"
                >Our Packages <span class="icon icon-arrow-right2"></span
              ></a>
            </li>
            <li *ngIf="flag">
              <a href="/profile">
                My Profile<span class="icon icon-arrow-right2"></span
              ></a>
            </li>
            <li *ngIf="flag">
              <a href="/changePassword"
                >Change Password <span class="icon icon-arrow-right2"></span
              ></a>
            </li>
            <li *ngIf="flag">
              <a href="/history"
                >View History <span class="icon icon-arrow-right2"></span
              ></a>
            </li>
            <li *ngIf="flag">
              <a href="/feedback"
                >FeedBack <span class="icon icon-arrow-right2"></span
              ></a>
            </li>
            <li *ngIf="flag">
              <a href="/contact"
                >Contact Us <span class="icon icon-arrow-right2"></span
              ></a>
            </li>
          </ul>
          <!-- end links -->
        </div>
        <!-- end clearfix -->
      </div>
      <!-- end col -->

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="footer-distributed widget clearfix">
          <div class="widget-title">
            <h3>Contact Info</h3>
            <br />
            <span>Email Us:-</span><br />
            <span>solutions.atlantix@gmail.com</span><br />
            <div *ngIf="flag">


            <span >Call Us:-</span> <br />
            <span >+91 9429042300</span>
          </div>
          </div>
          <div class="widget-title">
            <h3>Information</h3>
            <br />
            <span>Headquarters :-</span><br/>
            <span>Ahmedabad</span><br />
            <span>Opening Hours :-</span> <br />
            <span> 8:30 to 17:30</span>
          </div>
        </div>
        <!-- end clearfix -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!-- end footer -->

<div class="copyrights">
  <div class="container">
    <div class="footer-distributed">
      <div class="footer-left">
        <p class="footer-company-name">
          All Rights Reserved. © 2020 <a href="#">Atlantix Solutions</a>
        </p>
      </div>
    </div>
  </div>
  <!-- end container -->
</div>
