<app-header></app-header>
<div class="banner-area banner-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner">
                        <h2 >Change Password</h2>
                        <ul class="page-title-link">
                            <!-- <li><a href="#">Home</a></li>
                            <li><a href="#">Pricing</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3 >Change Your Password</h3>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="contact_form">
                        <div id="message"></div>
                        <form class="row" method="post">
                            <fieldset class="row-fluid">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input  minlength="8" required #pwd="ngModel" [(ngModel)]="p_old_password" type="password" name="p_old_password" id="p_mobile" class="form-control" placeholder="Enter Old Password">
                                    <div *ngIf="pwd.invalid || pwd.touched" >
                                            <div *ngIf="pwd.errors?.minlength"  class="text-danger">
                                              <font size=2>*Password must be of atleast 8 characters long</font>
                                                </div>

                                               </div>
                                                <div [hidden]="pwd.valid || pwd.untouched">
                                                <div [hidden]="!pwd.errors?.required"  class="text-danger">
                                                      <font size=2>*Password is must</font>
                                                    </div>
                                                   </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input  minlength="8" required #newpwd="ngModel" [(ngModel)]="p_new_password" type="password" name="p_new_password" id="p_new_password" class="form-control" placeholder="Enter New Password">
                                    <div *ngIf="newpwd.invalid || newpwd.touched" >
                                            <div *ngIf="newpwd.errors?.minlength"  class="text-danger">
                                              <font size=2>*Password must be of atleast 8 characters long</font>
                                                </div>

                                               </div>
                                                <div [hidden]="newpwd.valid || newpwd.untouched">
                                                <div [hidden]="!newpwd.errors?.required"  class="text-danger">
                                                      <font size=2>*New Password is must</font>
                                                    </div>
                                                   </div>
                                </div>



                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input  minlength="8" required #pwd3="ngModel" [(ngModel)]="p_re_new_password" type="password" name="p_re_new_password" id="p_re_new_password" class="form-control" placeholder="ReEnter New Password">
                                    <div *ngIf="pwd3.invalid || pwd3.touched" >
                                            <div *ngIf="pwd3.errors?.minlength"  class="text-danger">
                                              <font size=2>*Password must be of atleast 8 characters long</font>
                                                </div>

                                               </div>
                                                <div [hidden]="pwd3.valid || pwd3.untouched">
                                                <div [hidden]="!pwd3.errors?.required"  class="text-danger">
                                                      <font size=2>*Confirm Password is must</font>
                                                    </div>
                                                   </div>
                                </div>



                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">

                                    <button (click)="onupdate()" type="submit" value="UPDATE" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Update</button>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                                    <a [href]="'/'" class="btn btn-light btn-radius btn-brd grd1 btn-block">Cancel</a> 
                                    </div>
                            </fieldset>
                            <!-- <p style="color : red; text-align: center; font-size:medium">{{ err }}</p>   -->
                            <span style="color : red; text-align: center; font-size:medium">{{ err }}</span>
                        </form>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->


        </div><!-- end container -->
    </div><!-- end section -->
    <app-footer></app-footer>
