<div class="login-page" style="background-color: blueviolet;">
    <div class="login-box">
      <div class="logo">
        <a href="/" class="hvr-float-shadow">
          Atlantix
          <b>Solutions</b>
        </a>
        <small style="margin-top: 15px; font-size: 16px;"></small>
      </div>
      <form #adminForm="ngForm" (ngSubmit)="onSubmit(adminForm.value)">
        <div class="card">
          <div class="body">
            <div class="msg">
                Enter your registered mobile number. We'll send you a message with your new password.
            </div>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="material-icons">
                  person
                  <sup style="color: red;">*</sup>
                </i>
              </span>
              <div class="form-line">
                <input
                  type="text"
                  class="form-control"
                  name="usermobileno"
                  placeholder="Mobile Number"
                  ngModel
                  #mobile="ngModel"
                  [(ngModel)]="p_mobile"
                  pattern="[0-9]*"
                  maxlength="10"
                  minlength="10"
                  required
                  autofocus
                />
              </div>
              <span
                *ngIf="mobile.invalid && mobile.touched && mobile.value"
                style="color: red; font-size: 2; text-align: center;"
              >
                Entered Mobile Number Is Invalid</span
              >
              <span
                *ngIf="!mobile.value && mobile.touched"
                style="color: red; font-size: 2; text-align: center;"
                >Mobile Number Field Is Required</span
              >
            </div>
              
              
            <p style="color: red; text-align: center;">{{ err }}</p>
            <br>
            <div class="row">
                <button class="btn btn-block btn bg-pink waves-effect" [disabled]="adminForm.invalid" type="submit">RESET MY PASSWORD</button>
                  
              
            </div>
            
          </div>
        </div>
      </form>
    </div>
  </div>
  